*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"General Sans" ;
    
}
html,body{
    height: 100%;
    width: 100%;
}
#minicircle{
    width: 10px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    height: 10px;
    background-color: white;
    /* opacity: .6; */
    z-index: 99999;
    border-radius: 50%;
    position: absolute;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    width: 100%;
    height: 100%;
    /* vh means view height that is jo screen visible hai uski height */
    background-color: black;
    color: white;
}
#nav{
    padding: 20px 20px;
    width: 100%;
    opacity: .9;
    display: flex;
    justify-content: space-between;  
    /* 2 tags ke beech mein space laane ke liye */
    align-items: center;
    color: white;
}
#nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#heading{
    margin-top: 50px;
}
#heading #second{
    margin-left: 125px;
}
#heading h1{
    line-height: 1;
    opacity: .5;
    margin-left: 40px;
    /* product aur designer ke beech ki khali line hatane ke liye  */
    font-family: "General Sans Medium";
    font-size: 10vw;
    font-weight: 900;

}
#heading h5{
    opacity: .5;
}
.blocktext{
    width: fit-content;
    display: flex;
    align-items: end;
    flex-direction: column;
}
.blocktext h5{
    text-align: right;
    /* we did blocktext width fit content and then made the text of h5 to align to extreme right so it will be at the extreme right of the blocktext width  */
    font-size: 15px;
}
.navbar{
    align-items: center;
    justify-content: space-between;
    
    text-align: center;
    display: inline-flex;
}
.navbar h5{
    padding: 0px 12px;
    margin: 2px 2px;
}

#chotiheadings{
    opacity: .7;
    font-size: 1.7vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}
#chotiheadings h5{
    text-align: right;
    margin-right: 20px;
    text-transform: uppercase;
    margin-top: .5vw;
}
#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: 3%;
    margin-top: 20px;
    position: relative;

}
#herofooter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 4vw;
}
.circle{
    margin-right: 20px;
}
#herofooter #iconset{
    display: flex;
    gap: 5px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    /* above 3 lines are written to make the arrow come at the center of the circle */
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
}

/* 1st part done now 2nd part */
#second2{
    padding-left: 4vw;
    padding-right: 10vw;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 100px;
    background-color: black;
    /* height: 100vh; */
    

}
.elem{
    width: 100%;
    padding: 4vw 3vw;
    border-top: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    position: relative;

}
/* .elem h5{
    justify-content: center;
    padding: 35px;
    align-items: center;
} */
.elem h1{
    text-transform: uppercase;
    opacity: .7;
    font-size: 8vw;
    transition: transform 0.3s ease-in-out;
}
.elem:hover h1{
    transform: translateX(30px);
    opacity: .2;
}
@keyframes hello {
    
}
.elemlast{
    border-bottom:  2px solid gray;
    
}
.elem img{
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
    /* position: absolute;
    display: none;
    height: 140%;
    z-index: 999; */
}


/* 3rd part */

#third{
    background-color: black;
    width: 100%;
    padding: 10vw 5vw;
    padding-left: 30vw;
    display: flex;
    gap: 50px;
    align-items: center;
    /* justify-content: space-between; */
    font-family: 'General Sans ';

}
#imageabout{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-image: url(image.png);
    background-size: cover;
}

#third img{
    width: 200px;
}
#textabout{
    color: white;
    width: 25rem;
    padding: 3px 3px;
}
#textabout h5{
    opacity: .6;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}
#talk{
    padding: 12px 22px;
    border: 2px solid white;
    border-radius: 100px;
    /* box-shadow: 3px 3px 3px 3px gray; */
    text-decoration: none;
    color: white;
}

/* 4th part */

#subscribe{
    color: white;
    background-color: black;
    width: 100%;
    padding: 20px 30px;
    padding-bottom: 10vw;
    
}
#subscribe h5{
    opacity: .6;
    text-transform: uppercase;
}
#subscribe h3{
    opacity: .8;
    text-transform: uppercase;
    margin-top: 7px;
    font-size: 14px;
}

/* 5th part */
#footer{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 20px;
}
#footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}